/*box*/
*{
	box-sizing: border-box;
	padding: 0;
margin: 0;
margin-left: auto;
	margin-right: auto;
}

body {
	font-size: 16px;
	font-family: 'Pushster', cursive!important;

}
/*h1*/
h1{ font-size:  1,75em;
	margin-bottom: 15px;
text-align: center;
}

/*h2*/
h2 {font-size: 1.25em ;
	position: relative;
	float: right;
	border: 1px solid black;
	padding: 10px;

}

/*container*/
#container {background-color: lightgray;

box-sizing: border-box;
border: 5px solid black;
margin:  5px;
}


/*Paragrafo*/
p { width: 90%;
    font-family: Helvetica;
    color: black;
    padding: 50px 20px 20px 20px;
    font-size: 14px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}


/*row design*/
.row {width: 100% ;

}


/*Desktop version*/
@media (min-width: 992px) { 
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
	{float: left;

}
.col-lg-1 { width: 8.33%;}
.col-lg-2 { width: 16.66%;}
.col-lg-3 { width: 25%;}
.col-lg-4 { width:  calc(33% - 10px);} 
.col-lg-5 { width: 41.66%;}
.col-lg-6 { width: 50%;}
.col-lg-7 { width: 58.33%;}
.col-lg-8 { width: 66.66%;}
.col-lg-9 { width: 74.99%;}
.col-lg-10 { width: 83.33%;}
.col-lg-11 { width: 91.66%;}
.col-lg-12 { width: 100%;}
}
/*Tablet version*/
@media (min-width: 768px) and (max-width: 991px) 
{ .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
	{float: left; 

}

.col-md-1{ width: 8.33%;}
.col-md-2{ width: 16.66%;}
.col-md-3{ width: 25%;}
.col-md-4{ width: 33%;}
.col-md-5{ width: 41.66%;}
.col-md-6{ width: calc(50% - 10px)}
.col-md-7{ width: 58.33%;}
.col-md-8{ width: 66.66%;}
.col-md-9{ width: 74.99%;}
.col-md-10{ width: 83.33%;}
.col-md-11{ width: 91.66%;}
.col-md-12{ width: calc(100% - 10px)}

}





#A{background-color: yellow;
}


#B{background-color: red;
	
}


#C{background-color: blue;
	
}